<form action="login" method="post">
  <br />
  <label for="">
    <input type="text" required name="email" placeholder="email" />
  </label>
  <br />
  <label for="">
    <input type="password" required name="password" placeholder="contraseña" />
  </label>

  <button type="submit">Ingresar</button>

</form>
<br />
<a href="/api/sessions/github">
  <button>Login con Github</button>
</a>