<form action="restorepassword" method="post">

  <input type="text" required name="email" placeholder="email" /><br />
  <input type="password" required name="password" placeholder="contraseña" /><br
  />
  <input type="password" placeholder="repetir contraseña" /><br />

  <button>Enviar</button><br />

</form>