<form
  action="http://localhost:8080/api/sessions/restorepassword/{{token}}"
  method="post"
>

  <input type="hidden" required name="id" placeholder="id" value="{{id}}" /><br
  />
  <input type="password" required name="password" placeholder="password" /><br
  />
  <input
    type="password"
    required
    name="confirm_password"
    placeholder="password"
  /><br />
  <button>Enviar</button><br />

</form>